<section id="main-content">
  <section id="search-title">
    <h2>Here&rsquo;s some recipes that match <span class="italic">&ldquo;<%= params[:search] %>&rdquo;</span></h2>
  </section>

  <div class="row" id="list-recipe-results">
    <% @recipes.each do | recipe | %>
      <section class="recipe-image small-12 medium-3 columns">
        <%= image_tag recipe.image %>
        <section class="recipe-content overlay">
          <h5><%= link_to recipe.name, recipe_path(:name => recipe.name, :uri => recipe.uri) %></h5>
        </section>
      </section>
    <% end %>
  </div>
  <div class="row">
    <section id="pagination" class="small-12 small-centered medium-4 medium-centered columns">
    <%= will_paginate @recipes, class: "row" %>
    </section>
  </div>
</section>
