/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*= require foundation_and_overrides

*/

/* GLOBAL STYLING SETUP
************************/


@import url('https://fonts.googleapis.com/css?family=Neuton:200,400,400i,700');

form {
    
    position: absolute;
}

body {
  background: white;
  margin: 0;
  padding: 0;
  height: 100%;
}

h1, h2, h3 {
  color: #404040;
  font-family: 'Neuton', serif;
}

a {
  color: #404040;
}

a:hover {
  color: #404040;
  border-bottom: 2px solid #ec334a;
}

img {
  width: 100%;
}

.button {
  font-family: 'Neuton', serif;
  border: 2px solid #ec334a;
  background-color: #ec334a;
  color: white;
  border-radius: 500px;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.button:hover {
  background-color: white;
  color: #ec334a;
}

.italic {
  font-style: italic;
}



/* Formatting header
************************/

header {
  padding: 20px, 40px, 0px, 40px;
}

h1 a {
  font-size: 1.5em;
}

h1 a:hover {
  border-bottom: none;
  color: #ec334a;
}

#search {
  align-content: center;
}

#search .search-field {
  position: relative;
  margin: 40px;
  border: 1px solid #ec334a;
  box-shadow: none;
  

  background: none;
  font-family: 'Neuton', serif;
  color: #404040;
}

.search-button {
  color: #ec334a;
  position: absolute;
  top: 48px;
  right: 10px;
}

.search-wrapper {
  padding-right: 40px
}

/* Formatting footer
************************/

footer {
  text-align: center;
  background: WhiteSmoke;
  padding: 40px;
  width: 100%;
}

#pagination {
  padding-top: 40px;
}

#pagination a, #pagination .current {
  display: inline-block;
  font-family: sans-serif;
  border: 1px solid #ec334a;
  border-radius: 50%;
  margin: 1px;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
}

#pagination a:hover {
  color: white;
  background: #ec334a;
}

#pagination .current {
  background-color: #ec334a;
  color: white;
  font-style: normal;
}

#pagination .next_page {
  display: none;
}

#pagination .previous_page {
  display: none;
}

#main-content {
  padding: 40px;
}


/* HOMEPAGE STYLING
************************/

#homepage-image {
  height: 100%;
  width: 4000px;
}

/* RECIPES_PATH STYLING
************************/

.recipe-image {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 0;
}

.recipe-content {
  visibility: hidden;
}

.recipe-content h5 {
  color: white;
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 10000;
  margin-left: .5em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.recipe-content a {
color: white;
font-weight: bold;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ec334a;
}

.recipe-image:hover .recipe-content {
  visibility: visible;
  opacity: .75
}


/* RECIPE_PATH STYLING
************************/

#recipe-title, #search-title {
  border-bottom: 3px solid #ec334a;
  margin-bottom: 20px;
}

#recipe-title h5 {
  color: #404040;
  font-family: 'Neuton', serif;
  font-size: 1.5em;
}

#recipe-content {
  padding-left: 20px;
}
